@font-face {
  font-family: mono;
  src: url('./FreeMono.woff');
}

hr {
  border-color: #eee
}

.exerslide-slide h1 {
  margin-bottom: 1rem;
}

.exerslide-slide p {
  line-height: 1.5;
}

.button {
  padding: 0.5rem;
}

.button.secondary {
  background-color: transparent;
  color: black;
  border: 1px solid #ddd;
}

.button.secondary:focus,
.button.secondary:hover {
  background-color: transparent;
  color: black;
}

/* Checkmarks in table of contents for completed exercises */
.exerslide-toc-entry.JavascriptExercise.completed:after {
  font-family: FontAwesome;
  content: "\F00C";
  display: inline-block;
  padding-left: 5px;
  color: #3adb76;
  font-size: 0.9rem;
}

.CodeMirror {
  height: auto;
}

pre > code {
  line-height: 1.3em;
}

.exerslide-slide .ascii-art {
  padding: 10px;
  margin: 15px 0;
}

.exerslide-slide .ascii-art > pre > code {
  text-align: center;
  border: none;
  background-color: transparent;
  font-family: 'mono';
  line-height: 100%;
}

.exerslide-toc-list {
  font-size: 80%;
}

.exerslide-toc-container {
  max-width: 30%;
  min-width: 16em;
}

a > code {
  color: #2199e8;
}
