#slide {
  top: 80px;
  margin: auto;
  left: 0;
  padding-top: 0;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 400%;
  margin-bottom: 50px;
}

.alert {
  margin-top: 20px;
}

.CodeMirror {
  font-family: source;
  font-size: 0.8em;
}
